.card {
  background-color: var(--mantine-color-body);
  overflow: hidden;
  overflow-x: auto;
}

.label {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-weight: 700;
  line-height: 1;
}

.lead {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-weight: 700;
  font-size: 22px;
  line-height: 1;
}
