:root {
  --mantine-color-body: #202124 !important;
  --mantine-color-text: #fba0a0 !important;
}

html,
body {
  /* background-image: url('/bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; */
  height: 100vh !important;
  position: relative !important;
  margin: 0 !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

button,
select {
  text-transform: none;
}
