@import '@mantine/core/styles.layer.css';

:root {
  --mantine-color-body: #202124;
  --mantine-color-text: #fba0a0;
}

html,
body {
  /* background-image: url('/bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; */
  height: 100vh;
  position: relative;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

button,
select {
  text-transform: none;
}
