.header {
  height: 80px;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  background-color: #202124;
  width: 100%;
  position: sticky;
  top: 0;
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.link {
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 12px;
  padding: 12px;

  text-decoration: none;
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);
  color: #fba0a0;

  @media (max-width: $mantine-breakpoint-sm) {
    height: 42px;
    width: 100%;
  }

  @mixin hover {
    background: linear-gradient(45deg, #f76d6d, #202124);
    color: var(--mantine-color-white);
  }
}
