.header {
  height: 80px;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  background-color: #202124;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
}

.link {
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 12px;
  padding: 12px;

  text-decoration: none;
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);
  color: #fba0a0;

  @media (max-width: $mantine-breakpoint-sm) {
    height: 42px;
    width: 100%;
  }

  @mixin hover {
    background: linear-gradient(45deg, #f76d6d, #202124);
    color: var(--mantine-color-white);
  }
}
